.tweet-container{
    display: flex;
    flex-direction: column;

    border: 1px solid #1C1C1C;
    border-radius: 20px;
    overflow: hidden; 
    margin-top:20px
}

.tweet-user-info{
    height: 20px;
    margin-top: 10px;
    display: flex;

}
.tweet-image-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    display:flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.tweet-video-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    overflow: hidden;

}
.tweet-video-container video{
    height: 100%;
    width: 100%;
}

.tweet-image{
    flex-basis: 50%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.tweet-text-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74)
}

.tweet-date-container{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #47525d;
}

.tweet-user-profile{
    width: 30px;
    height: 30px;
    background-color: white;
    border:1px solid #979797;
    border-radius: 50%;
    margin-left: 20px;
    background-position: center;
    background-size: cover;
}
.tweet-user-name-container{
    color:white;
    margin-left: 8px;
}
.tweet-user-fullname{
    font-size: 10px;
}
.tweet-user-username{
    font-size: 8px;
}
.tweets-welcome-message{
    color:white;
    text-align: center;
}
.tweets-welcome-message h5{
    margin-bottom: 0;
}

.tweets-welcome-message p{
    font-size: 10;
}   